<h1> Favorites </h1>

<img src="http://www.clickypix.com/wp-content/uploads/2013/10/cool-photography-16.jpg" alt="Random picture">

<p><a href="/favorites/new" class="btn btn-info">Tag a recipe</a></p>
<p><a href="/favorites/view" class="btn btn-primary">View Tags</a></p>
<p><a href="/" class="btn btn-success"> Return to Home</a></p>

