<h1> All Connections via Tags</h1>
<ul>
  <% @tags.each do |tag| %>
  <li><a href="/favorites/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
</ul>

<p><a href="/favorites" class="btn btn-success">Return to menu</a></p>

