<label for="recipe_name">Recipe Title</label>
<input id="recipe_name" type="text" name="recipe[name]" value="<%= @recipe.name %>">
<label for="recipe_author"> Author</label>
<input id="recipe_author" type="text" name="recipe[author]" value="<%= @recipe.author %>">
<label for="recipe_ingredients">Ingredients</label>
<input for="recipe_ingredients" type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>">
<label for="recipe_instructions">Instructions</label>
<input for="recipe_instructions" type="text" name="recipe[instructions]" value="<%= @recipe.instructions %>">


