<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
  <li><a href="/recipes/ <%=recipe.id %>"><%=recipe.name %></a></li>
  <% end %>
</ul>
<p><a href="/recipes/new" class="btn btn-success">Create a new recipe</a></p>
<p><a href="/" class="btn btn-primary">Return to Home </a></p>
