<h1>Recipes</h1>

<img src="http://westcottu.com/wp-content/uploads/Screen-shot-2012-08-29-at-9.54.26-AM.png" alt="Delicious dessert">
<br></br>
<ul>
  <% @recipes.each do |recipe| %>
  <li><a href="/recipes/ <%=recipe.id %>"><%=recipe.name %></a></li>
  <% end %>
</ul>
<p><a href="/recipes/new" class="btn btn-success">Create a new recipe</a></p>
<p><a href="/" class="btn btn-primary">Return to Home </a></p>
