<h1><em>Create a new recipe!</em></h1>

<%= render('layouts/errors', :object => @recipe) %>

<form action="/recipes/" method="post">
  <%=render('form') %>
  <button class="btn btn-primary"> Create Recipe </button>
</form>
