<h1><%= @recipe.name %> was saved!!!! </h1>

<p><a href="/recipes/<%= @recipe.id %>" class="btn btn-info"> View <%= @recipe.name%></a></p>
<p><a href="/favorites/new" class="btn btn-success">Tag this recipe</a></p>
<p><a href="/recipes" class="btn btn-primary"> Return to recipe homepage</a></p>

