<h1> Welcome to the Joy of Cooking</h1>

<img src="http://www.rodalenews.com/files/images/slideshow2/cook-veggies-frying-550.jpg" alt="Yummy food">
<img src="http://maintainingmysexy.com/wp-content/uploads/2013/10/cook.jpg" alt="Good food">
<img src="http://2.bp.blogspot.com/-peoDz72Kxq0/Tq9lpvqOxnI/AAAAAAAAHnw/fMR1wH_DEC8/s1600/Pumpkin+Pasta+Sauce+Recipe.jpg" alt="Great pasta">

<p><a href="/recipes"> Enter our Encyclopedia of Recipes</a></p>



