<h1>Tags</h1>

<img src="http://cdn.wallwuzz.com/uploads/wallpaper-cool-photography-wallpapers-wallwuzz-hd-wallpaper-20527.jpg" alt="Crayon explosion">
<ul>
  <% @tags.each do |tag| %>
  <li><a href="/tags/ <%=tag.id %>"><%=tag.name %></a></li>
  <% end %>
</ul>
<p><a href="/tags/new" class="btn btn-success">Create a new tag</a></p>
<p><a href="/" class="btn btn-primary">Return to Home </a></p>
