<h1><%= @tag.name %> was saved!!!! </h1>

<p><a href="/tags/<%= @tag.id %>" class="btn btn-info"> View <%= @tag.name%></a></p>
<p><a href="/favorites/new" class="btn btn-warning">Add a recipe to this tag</a></p>
<p><a href="/tags" class="btn btn-primary"> Return to tag homepage</a></p>
